<header class="pb-4 sm:pb-6">
  <div class="mx-auto flex flex-wrap items-center gap-6 sm:flex-nowrap">
    <div class="flex w-full text-sm font-semibold sm:w-auto">
      <nav class="block ">
        <ul class="flex rounded-full px-3 text-sm bg-white/90 dark:bg-gray-700 font-medium shadow-lg shadow-zinc-800/5 ring-1 ring-zinc-900/5 backdrop-blur dark:text-zinc-200 dark:ring-white/10">
          <li>
            <%= link_to 'Upcoming', filter_tasks_path(status: 'upcoming'), 'up-target': ".container", 'up-history': 'false', class: "relative block px-3 py-2 transition #{current_page?(filter_tasks_path(status: 'upcoming')) ? 'text-sky-500 dark:text-sky-400' : 'text-black dark:text-white'}", role: 'tab'%>
          </li>
          <li>
            <%= link_to 'Past due', filter_tasks_path(status: 'past_due'), 'up-target': ".container", 'up-history': 'false', class: "relative block px-3 py-2 transition #{current_page?(filter_tasks_path(status: 'past_due')) ? 'text-sky-500 dark:text-sky-400' : 'text-black dark:text-white'}", role: 'tab' %>
          </li>
          <li>
            <%= link_to 'Completed', filter_tasks_path(status: 'completed'), 'up-target': ".container", 'up-history': 'false', class: "relative block px-3 py-2 transition #{current_page?(filter_tasks_path(status: 'completed')) ? 'text-sky-500 dark:text-sky-400' : 'text-black dark:text-white'}", role: 'tab' %>
          </li>
        </ul>
      </nav>
    </div>
    <% if can? :create, Task %>
      <%= link_to new_task_path, class: 'ml-auto flex items-center gap-x-1 rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600', 'up-layer': 'new', 'up-history': 'false', 'up-accept-event': 'task:created', 'up-on-accepted': "up.reload('')" do %>
        <svg class="-ml-1.5 h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
          <path d="M10.75 6.75a.75.75 0 00-1.5 0v2.5h-2.5a.75.75 0 000 1.5h2.5v2.5a.75.75 0 001.5 0v-2.5h2.5a.75.75 0 000-1.5h-2.5v-2.5z"></path>
        </svg>
        Task
      <% end %>
    <% end %>
  </div>
</header>
