<% if params[:event] == 'exam' %>
  <h2 class="mb-4 text-2xl text-gray-800 dark:text-white">New exam</h2>
<% else %>
  <h2 class="mb-4 text-2xl text-gray-800 dark:text-white">New task</h2>
<% end %>

<%= render 'form' %>