<div class="lg:block hidden">
  <%= month_calendar { |date| date } %>
  <%= render 'calender/events' %>
</div>

<div class="lg:hidden">
  <%= week_calendar(number_of_weeks: 1) { |date| date } %>
</div>