<% case params[:view] %>
<% when 'week' %>
<%= week_calendar(number_of_weeks: 1) { |date| date } %>
<% when 'month' %>
<%= month_calendar { |date| date } %>
<% else %>
<div class="lg:block hidden">
  <%= month_calendar { |date| date } %>
</div>

<div class="lg:hidden">
  <%= week_calendar(number_of_weeks: 1) { |date| date } %>
</div>
<% end %>