//= require unpoly


@import "simple_calendar";

@mixin block-spacing {
  margin-top: spacer(3);
  margin-bottom: spacer(3);
}

body {
  margin: 5.5rem spacer(4) 7rem spacer(4);
  overflow-y: scroll;
}

p {
  margin-bottom: 0.8rem;
}

#tab {
  margin-bottom: 1.5rem;
}

//*:focus
//  outline: 2px solid orange // Make focus very visible to help test A11Y
//
//.up-active
//  outline: 2px solid green !important

.field_with_errors {
  label {
    color: #fbebec;
  }

  input,
  textarea,
  select {
    border-color: #fbebec;
  }

  .input-group & {
    flex: 1 1 auto; // Use available space when wrapping a .form-control inside an .input-group;
  }

  &:has(label) {
    display: inline-block;
  }
}

.tasks {
  flex-wrap: wrap;
}

.task {
  flex: 0 0 358px;
  height: 100px;
  margin: 0 0 0.5rem 0.5rem;

  &:not(.status) {
    border-color: gray;
  }
  &.status {
    opacity: 0.5;
    .card-text {
      text-decoration: line-through;
    }
  }
}

.task-card {
  flex: 0 0 358px;
  height: 450px;

  &:not(.status) {
    border-color: gray;
  }
  &.status {
    opacity: 0.5;
    .card-text {
      text-decoration: line-through;
    }
  }
}

a {
    color: #007bff;
    text-decoration: none;
}

.navbar-brand {
  margin-left: 3.25rem;
}

.fragment-explainer--cell {
  flex: 0 0 auto;

  a {
    text-decoration: underline;
  }
}

.btn.btn-sm {
  min-width: 50px;
}


.button {
  --tw-bg-opacity: 1;
  --tw-text-opacity: 1;
  background-color: rgba(79, 70, 229, 1);
  border-color: #0000;
  border-radius: .375rem;
  border-width: 1px;
  color: rgba(255, 255, 255, 1);
  display: inline-flex;
  font-size: .875rem;
  font-weight: 500;
  justify-content: center;
  line-height: 1.25rem;
  padding: .5rem 1rem;
  transition-duration: .15s;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition: all .1s ease-in;
}