//= require unpoly

@import "simple_calendar";

@media (prefers-color-scheme: dark) {
  up-modal-box {
    background-color: #111827;
  }
}

@media (prefers-color-scheme: light) {
  up-modal-box {
    background-color: #f3f4f6;
  }
}

@media (prefers-color-scheme: dark) {
  .tile {
    --tw-bg-opacity: 1;
    background-color: #141b2d;
  }
}

@media (prefers-color-scheme: light) {
  .tile {
    --tw-bg-opacity: 1;
    background-color: rgb(255, 255, 255);
  }
}


